<div class="field is-horizontal <%= options.delete(:field_class) %>">

  <% if has_label %>
    <div class="field-label <%= options.delete(:field_label_class) || 'is-normal' %>">
      <%- label_options[:class] << ' label' %>
      <%- label_options[:class] << ' required' if options.delete(:required) %>
      <%= label attribute_name, label_text, label_options %>
    </div>
  <% end %>

  <div class="field-body">
    <%#
      Use an extra nested field so the help text appears where expected
      rather than as another addon.
      https://github.com/jgthms/bulma/issues/640#issuecomment-415231212
    %>
    <div class="field">
      <div class="control <%= options.delete(:control_class) %>">
        <%- options[:class] << ' input' %>
        <%- options[:class] << ' is-danger' if errors[attribute_name].present? %>
        <%= text_field attribute_name, options %>
      </div>

      <%- if hint_text.present? %>
        <p class="help"><%= hint_text %></p>
      <%- end %>

      <%- if errors[attribute_name].present? %>
        <p class="help is-danger"><%= errors.full_messages_for(attribute_name).to_sentence %></p>
      <%- end %>
    </div>
  </div>

</div>

