<div class="field <%= options.delete(:field_class) %>">

  <% if has_label %>
    <%- label_options[:class] << ' label' %>
    <%- label_options[:class] << ' required' if html_options.delete(:required) %>
    <%= label attribute_name, label_text, label_options %>
  <% end %>

  <div class="control <%= html_options.delete(:control_class) %>">
    <%- html_options[:class] << ' select' %>
    <%- html_options[:class] << ' is-danger' if errors[attribute_name].present? %>
    <div class="<%= html_options[:class] %>">
      <%= collection_select(
            attribute_name,
            collection,
            value_method,
            text_method,
            options,
            html_options) %>
    </div>
  </div>

  <%- if hint_text.present? %>
    <p class="help"><%= hint_text %></p>
  <%- end %>

  <%- if errors[attribute_name].present? %>
    <p class="help is-danger"><%= errors.full_messages_for(attribute_name).to_sentence %></p>
  <%- end %>

</div>
